<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="mb-5">
          <h3 class="h1 mb-4 post-title">{{blog.title}}</h3>

          
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-5 text-center">
          <img class="w-80 h-auto rounded" [src]="serverUrl +blog.picture"  width="400" height="100">
        </div>
      </div>
     
        <p>{{blog.description}}</p>
        <h2>{{blog.author}}</h2>
        
        
      
     
    </div>

    
    
    
   
    
    
  </div>
</section>

